* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}

.heading {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid grey;
}

/* BUTTONS */

.btn {
  padding: 5px 15px;
  border: none;
  color: white;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.btn-primary {
  background: blue;
}

.btn-danger {
  background-color: red;
}

.addtaskbutton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
  border: none;
  background: blue;
  color: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 0px;
  cursor: pointer;
}
.addtaskbutton:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}
.addtaskbutton:focus {
  outline: none;
}

/* TASK LIST */

.taskList {
  margin-top: 5px;
  list-style-type: none;
}
.taskList__item {
  margin: 5px 0;
  padding: 20px 10px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskList__item:hover {
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}
.taskList__item:nth-child(odd) {
  background-color: lightblue;
}
.taskList__item:nth-child(even) {
  background-color: lightgreen;
}
.taskList__item--checked {
  opacity: 0.5;
}
.taskList__item__name {
  margin-left: 10px;
  font-size: 1rem;
}
.taskList__item__name--checked {
  text-decoration: line-through;
}
.taskList__item__completeIcon {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}
.taskList__item__completeIcon:hover {
  color: rgb(148, 134, 134);
}
.taskList__item__completeIcon--checked {
  color: green;
}
.taskList__item__deleteIcon {
  cursor: pointer;
  margin-left: auto;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(202, 17, 17);
}
.taskList__item__deleteIcon:hover {
  font-size: 1.6rem;
  color: rgb(148, 134, 134);
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal--show {
  display: block;
}

.modal__content {
  position: relative;
  background-color: #fefefe;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30%;
  margin-bottom: 0;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation-name: slideFromBottom;
  animation-duration: 0.4s;
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes slideFromBottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
